.loginBox{
  max-width: 90%;
  width: 450px;
}

.loginBoxHeader{
  min-height: 200px;
  text-align: center;
  background-image: url(loginHeaderBG.png);
}

.loginBoxHeader h1 {
  margin-top: 0;
  font-family: monospace;
  font-weight: bolder;
}

.loginBackground{
  background-color: #cecece;
  /*background-image: url(loginHeaderBG.png);*/
}
