<div ng-app="corkboardApp" ng-controller="LoginCtrl" layout="column" layout-align="center center" layout-fill="layout-fill" class="loginBackground">
  <div layout="column" class="loginBox md-whiteframe-4dp">
    <md-toolbar class="loginBoxHeader" layout="row" layout-align="center center">
      <span><md-icon md-svg-icon="pin" style="width:96px; height:96px;"></md-icon><h1 class="md-display-2">Corkboard</h1></span>
    </md-toolbar>
    <form name="loginForm">
    <md-content  layout="column" class="md-padding">
      <p ui-view="auth"></p>
      <md-input-container>
        <label>Email</label>
        <input required type="email" name="email" ng-model="email" ng-pattern="/^.+@.+\..+$/" minlength="6" maxlength="100"/>
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Die eMail-Adresse muss 6-100 Zeichen lang sein.
          </div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Passwort</label>
        <input required type="password" name="password" ng-model="password" minlength="6"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength']">
            Das Passwort muss mindestens 6 Zeichen lang sein.
          </div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary">Login</md-button>
      <md-button ng-click="setPage(register)" md-no-ink="md-no-ink">Registrieren</md-button>
      <md-button href="" md-no-ink="md-no-ink">Passwort vergessen</md-button>
    </md-content>
  </form>
  </div>
</div>
